header {
  outline-style: solid;
  background-color: burlywood;
  opacity: 1;
  
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;

} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: burlywood;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: green;
}

body {
  background-image: url("save-clean-planet-world-environment-ecology-earth-day-concept-hand-holding-tree-sunny-green-grass-bokeh-background-255244983.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


.row {   
  width: 55%;
  margin: auto;
  height: auto;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.values {
  width: 55%;
  margin: auto;
  height: auto;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;

}

.row2 {   
  width: 55%;
  margin: auto;
  height: auto;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.row3 {   
  width: 55%;
  margin: auto;
  height: auto;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}


.responsive {
  width: 100%;
  height: auto;
  text-align: left;
}

.responsive2 {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.hp  {
  float: right;    
   margin: 0 0 0 15px;
  }

/* Loyalty---------------------------------------------------------------------------- */
.container4 {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 200%
}

.image4 {
  flex-basis: 200%
}

.text4 {
  font-size: 15px;
  padding-left: 20px;
}
/* Humility---------------------------------------------------------------------------- */
.container5 {
  display: flex;
  align-items: center;
  justify-content: center
}
img {
  max-width: 600%
}
.image5 {
  flex-basis: 600%
}
.text5 {
  font-size: 15px;
  padding-right: 20px;
}


/* Self-reliance---------------------------------------------------------------------------- */

.container6 {
  display: flex;
  align-items: center;
  justify-content: center
}
img {
  max-width: 200%
}
.image6 {
  flex-basis: 200%;
}
.text6 {
  font-size: 15px;
  padding-left: 20px;
}
/* ---------------------------------------------------------------------------- */


  /* Batman comics---------------------------------------------------------------------------- */
  .container3 {
    display: flex;
    align-items: center;
    justify-content: center
  }
  img {
    max-width: 600%
  }
  .image3 {
    flex-basis: 600%
  }
  .text3 {
    font-size: 15px;
    padding-right: 20px;
  }


/* Coding---------------------------------------------------------------------------- */

  .container2 {
    display: flex;
    align-items: center;
    justify-content: center
  }
  img {
    max-width: 250%
  }
  .image2 {
    flex-basis: 250%;
  }
  .text2 {
    font-size: 15px;
    padding-right: 20px;
  }
/* ---------------------------------------------------------------------------- */

/* Exercising---------------------------------------------------------------------------- */
.container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%
}

.image {
  flex-basis: 100%
}

.text {
  font-size: 15px;
  padding-left: 20px;
}


/* disciplined---------------------------------------------------------------------------- */
.container7 {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 150%
}

.image7 {
  flex-basis: 150%
}

.text7 {
  font-size: 15px;
  padding-left: 20px;
}
/* hardworking---------------------------------------------------------------------------- */
.container8 {
  display: flex;
  align-items: center;
  justify-content: center
}
img {
  max-width: 150%
}
.image8 {
  flex-basis: 150%
}
.text8 {
  font-size: 15px;
  padding-right: 20px;
}


/* introvert---------------------------------------------------------------------------- */

.container9 {
  display: flex;
  align-items: center;
  justify-content: center
}
img {
  max-width: 150%
}
.image9 {
  flex-basis: 150%;
}
.text9 {
  font-size: 15px;
  padding-left: 20px;
}
/* ---------------------------------------------------------------------------- */





.row4 {   
  width: 55%;
  margin: auto;
  height: auto;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px; /* change the value as per your requirement */

}





/* ---------------------------------------------------------------------------- */
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 540px;
    background-color: burlywood;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
/* ---------------------------------------------------------------------------- */

div.gallery2 {
  margin: 0px;
  border: 1px solid #ccc;
  float: left;
  width: 540px;
  background-color: burlywood;
  
}

div.gallery2:hover {
  border: 1px solid #777;
}

div.gallery2 img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.goals {
  width: 55%;
  margin: auto;
  height: auto;
  background-color: burlywood;
  padding: 10px;
}















